* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

.header{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background-color: #fff;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

.logo{ 
    font-size: 1.5rem;
    color: #032e6e;
    cursor: pointer;
    transition: 0.2s ease;
}

.logo:hover{
    color: #7EACF0;
}

.navbar a{
    font-size: 1.2rem;
    color: #032e6e;
    margin-left: 1rem;
    transition: 0.2s ease;
    border-bottom: 3px solid transparent;
}

.navbar a:hover
{
    color: #7EACF0;
    border-bottom: 3px solid #7EACF0;
}

section{
    min-height: 100vh;
    padding: 10rem 9% 10rem;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.home-content h3{
    font-size: 3rem;
    font-weight: 700;
    color: #032e6e;
}


.home-content h1{
    font-size: 4rem;
    line-height: 1.3;
    color: #7EACF0;

}

.main-img img{
   width: 40vw;
}

.home-content p{
    font-size: 1.3rem;
    font-weight: 500;
    max-width: 650px;
    margin: 0.5rem;
    color: #032e6e;
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    margin-top: 2rem;
    background: #032e6e;
    border-radius: 4rem;
    font-size: 1.2rem;
    color: #fff;
    cursor: pointer;
    transition: 0.2s ease;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
}

.btn:hover{
    transform: scale(1.03);
    background: #fff;
    color: #032e6e;
    border: 3px solid #032e6e;
}

.about{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    background: #7eacf0c8;
}

.about-img img{
    width: 35vw;
    border: 20px solid #fff;
    border-radius: 50%;
}

.heading{
    text-align: center;
    font-size: 3rem;
    color: #032e6e;
}

.about-content h2{
    text-align: left;
}

.about-content p{
    font-size: 1.3rem;
    font-weight: 400;
    margin: 2rem 0 3rem;
}

.work{
    min-height: 100vh;
    padding: 100px 15px;
    background: #fff;
}

.work h2{
    margin-bottom: 5rem;
}

.timeline-items{
    max-width: 62.5rem;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}



.timeline-item{
    width: 100%;
    position: relative;
}

.timeline-item::before{
    content: '';
    position: absolute;
    width: 5px;
    height: 110%;
    background-color: #032e6e;
    left: calc(50%);
    
}


.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
    text-align: right;
}

.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}

.timeline-dot{
    height: 21px;
    width: 21px;
    background-color: #032e6e;
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 10px;
}

.timeline-date{
    font-size: 20px;
    font-weight: 800;
    color: #fff;
    margin: 6px 0 15px;
}

.timeline-content{
    background-color: #032e6e;
    backdrop-filter: blur(20px);
    border: 1px solid #032e6e;
    padding: 30px;
    border-radius: 1em;
    cursor: pointer;
    transition: 0.2s ease;
}

.timeline-content:hover{
    transform: scale(1.05);
}

.timeline-content h3{
    font-size: 20px;
    color: #fff;
    margin: 0 0 10px;
    text-transform: capitalize;
    font-weight: 500;
}

.timeline-content p{
    color: #fff;
    opacity: 0.8;
    font-size: 16px;
    line-height: 22px;
}

.contact{
    background-color: #7eacf0c8;
}

.contact h2{
    margin-bottom: 3rem;
}

.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: #032e6e;
    background-color: #fff;
    border-radius: 0.8rem;
    border: 2px solid #032e6e;
    margin: 1rem;

}

.contact form .btn{
    margin-top: 2rem;
}

.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: #032e6e;
}

.footer ul{
    line-height: 1.6;
    text-align: center;
    font-size: 18px;
}

.footer ul li a{
    color: #fff;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}

.footer ul li a:hover{
    border-bottom: 3px solid #fff;
}

.footer ul li{
    display: inline-block;
    padding: 0 15px;
}

.footer .copyright{
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
    color: #fff;
}